$primaryText: #2196F3;
$secondaryText : #FFFFFF;

$primaryBG:#2196F3;
$secondaryBG : #E3F2FD;




/*Cards Colors*/

$lightDark: #FAFAFA;
$white: #FFFFFF;
$hoverCard : rgba(0, 0, 0, 0.08) ;
$selectedCard : rgba(33, 150, 243, 1);
