
<h2>Contained Button</h2>

<div>
  <span class="label">blue</span>
  <div>
    <button class="blue-btn">Button</button>
  </div>

  <div class="label">light Blue</div>
  <div>
    <button class="lightblue-btn">Button</button>
  </div>

  <div class="label">Disabled</div>
  <div>
    <button class="default" disabled >Disabled </button>
  </div>


</div>

<br>
<h2>Floating Action Button</h2>
<div class="label">accent</div>
<div fxLayout="row">


  <button class="action">+</button>
  <button class="actionW">+ Action</button>

</div>


<br>
<h2>Cards</h2>

<div class="label">Flat Cards</div>
<div >

<div class="whiteFlatCard">
</div>
<div class="darkFlatCard">
</div>

</div>

<div class="label">Float Cards</div>
<div>
  <div class="whiteFloatCard">
  </div>
  <div class="darkFloatCard">
  </div>

</div>

<router-outlet></router-outlet>
